{% include "header.html" %}
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Amrish.</h1>
      <h2>A Marketing Automation Specialist & a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/amrish.jpg" alt="amrish-profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am a Marketing Automation Executive having more than 2 years of experience on Marketing Tools as well as I am a <span class="pro">Pro</span>grammer/Developer.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>

      <div class="skill-row">
        <img class="chilli-img" src="static/images/Presenter.gif" alt="marketing-img">

        <h3>Marketing Automation Specialist</h3>
        <p>Experience on implenting marketing campaigns using Marketo & Eloqua.</p>
      </div>
      <div class="skill-row">
        <img class="code-img" src="static/images/code.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I have an excellent knowledge on Python, HTML, CSS and Javascript.</p>

      </div>

    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love south movies and hollywood webseries as much as I do.</h3>
      <p class="contact-message">Love south movies and hollywood wbseries as much as I do? Let's talk about how awesome they are!</p>
      <a class="btn btn-primary" href="mailto:singhamrish988@gmail.com" target="_blank">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/amrish-kumarsingh-434343180/" target="_blank">LinkedIn</a>
    <a class="footer-link" href="#" target="_blank">Twitter</a>
    <a class="footer-link" href="#" target="_blank">Website</a>
    <p class="copyright">© 2021 Amrish @ The Skills Matter Academy.</p>
  </div>
{% include "footer.html" %}
